In [1]:
from dotenv import load_dotenv
import pandas as pd

load_dotenv()

True

In [13]:
from llmfsd import Faker, DataModel

model_id = "mistral:open-mixtral-8x7b"
faker = Faker(model_id)
print(faker.json("select id, name from phone_brands limit 3"))
print(faker.csv("select title, year from books limit 3"))

[{'id': 1, 'name': 'Samsung Galaxy'}, {'id': 2, 'name': 'Apple iPhone'}, {'id': 3, 'name': 'Google Pixel'}]
title,year
"The Secret Garden",2020
"Pride and Prejudice",1813
"To Kill a Mockingbird",1960

In [14]:
faker2 = Faker(model_id, lang="french")
print(faker2.json("select content from jokes limit 3"))

[{'content': "Pourquoi les souris aiment les ordinateurs ? Parce qu'on y trouve des fromages logiques."}, {'content': 'Quel est le réseau social préféré des poules ? Coq-toi !'}, {'content': 'Pourquoi les canards mettent une cravate ? Pour aligner leurs canards-drapeaux.'}]

In [3]:
model = DataModel("cars", {"id": "uuid string", "name": None, "price": None})
faker3 = Faker(model_id, data_models=[model])
faker3.csv("select * from cars limit 6", output="cars.csv")

In [4]:
data = pd.read_csv("cars.csv")
data.head()

                                     id              name  price
0  550e8400-e29b-41d4-a716-446655440000    Toyota Corolla  25000
1  6dcc1f38-7856-4424-a0c0-7f262e489520       Honda Civic  22000
2  8e2a449a-b3e9-4f73-9f88-447f8e2a449a      Ford Mustang  35000
3  2b93d7e4-a4e8-478f-80f9-447f8e2a449a  Chevrolet Malibu  28000
4  7f8e2a44-9a2b-449a-b3e9-4f739f88447f     Nissan Altima  23000